<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[services]], [[npc]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('npc_status');
		if (data && tb) {
			if (data.running) {
				var links = '<em><b><font color=green>NPS Client <%:RUNNING%></font></b></em>';
				tb.innerHTML = links;
			} else {
				tb.innerHTML = '<em><b><font color=red>NPS Client <%:NOT RUNNING%></font></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="npc_status">
		<em><%:Collecting data...%></em>
	</p>
    <button id="updateBtn" class="cbi-button cbi-button-apply mar-10" onclick="updateNpsClient()">
        {{ translate('Update NPC') }}
    </button>
    <div id="status_message" style="margin-top: 10px; color: blue;"></div>
</fieldset>

<script type="text/javascript">
  function updateNpsClient() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/cgi-bin/luci/admin/services/npc/update", true);
    xhr.onload = function() {
      var statusMessage = document.getElementById('status_message');
      if (xhr.status == 200) {
        statusMessage.style.color = "green";
        statusMessage.innerHTML = "Success!";
      } else {
        statusMessage.style.color = "red";
        statusMessage.innerHTML = "Failed!";
      }
    };
    xhr.send();
  }
</script>
